{% from "macros/mappings.jinja" import mappings with context -%}

plugins {
    id("{{ modid }}.minecraft")
}

architectury {
    common("fabric", "forge")
}

dependencies {
    implementation(libs.kotlin.stdlib)

    // We depend on fabric loader here to use the fabric @Environment annotations and get the mixin dependencies
    // Do NOT use other classes from fabric loader
    modImplementation(libs.fabric.loader)
    modApi(libs.architectury)

    modApi(libs.hexcasting.{{ mappings(mojmap="common", yarn="fabric") }})

    modApi(libs.clothConfig.common)

    implementation(libs.mixinExtras)
}
