package {{ modid }}

// this is in a separate file so it can be referenced both by minecraft.gradle.kts and platform.gradle.kts
interface I{{ base_classname }}MinecraftExtension {
    fun platform(platform: String)
}
