package {{ package }}.fabric

import com.terraformersmc.modmenu.api.ConfigScreenFactory
import com.terraformersmc.modmenu.api.ModMenuApi
import {{ package }}.config.{{ classname }}Config
import net.fabricmc.api.EnvType.CLIENT
import net.fabricmc.api.Environment

@Environment(CLIENT)
object Fabric{{ classname }}ModMenu : ModMenuApi {
    override fun getModConfigScreenFactory() = ConfigScreenFactory({{ classname }}Config::getConfigScreen)
}
