{% macro is_mojmap() -%}
  {%- if mappings_name == "Mojmap" -%}
    true
  {%- endif -%}
{%- endmacro %}

{% macro is_yarn() -%}
  {%- if mappings_name == "Yarn" -%}
    true
  {%- endif -%}
{%- endmacro %}

{% macro mappings(mojmap, yarn) -%}
  {%- if is_mojmap() -%}
    {{ mojmap }}
  {%- elif is_yarn() -%}
    {{ yarn }}
  {%- else -%}
    {% include "error: unhandled mapping `"~mappings_name~"`" %}
  {%- endif -%}
{%- endmacro %}

{% set ns = namespace() %}

{#
  {% from "macros/mappings.jinja" import import, ns with context -%}

  {% set ServerPlayer = import(
      mojmap="net.minecraft.server.level.ServerPlayer",
      yarn="net.minecraft.server.network.ServerPlayerEntity",
  ) %}{{ ns.import }};

  {{ ServerPlayer }} player = ...;
#}
{% macro import(mojmap, yarn) -%}
  {%- set value = mappings(mojmap=mojmap, yarn=yarn) -%}
  {%- set ns.import = "import "~value -%}
  {{ value.split(".")|last }}
{%- endmacro %}
