package {{ package }}.forge

import {{ package }}.{{ base_classname }}Client
import {{ package }}.config.{{ base_classname }}Config
import net.minecraftforge.client.ConfigScreenHandler.ConfigScreenFactory
import net.minecraftforge.fml.event.lifecycle.FMLClientSetupEvent
import thedarkcolour.kotlinforforge.forge.LOADING_CONTEXT

object Forge{{ base_classname }}Client {
    fun init(event: FMLClientSetupEvent) {
        {{ base_classname }}Client.init()
        LOADING_CONTEXT.registerExtensionPoint(ConfigScreenFactory::class.java) {
            ConfigScreenFactory { _, parent -> {{ base_classname }}Config.getConfigScreen(parent) }
        }
    }
}
