package {{ package }}.forge

import dev.architectury.platform.forge.EventBuses
import {{ package }}.{{ base_classname }}
import {{ package }}.forge.datagen.{{ base_classname }}Models
import {{ package }}.forge.datagen.{{ base_classname }}Recipes
import net.minecraft.data.DataProvider
import net.minecraft.data.DataProvider.Factory
import net.minecraft.data.PackOutput
import net.minecraftforge.data.event.GatherDataEvent
import net.minecraftforge.fml.common.Mod
import thedarkcolour.kotlinforforge.forge.MOD_BUS

/**
 * This is your loading entrypoint on forge, in case you need to initialize
 * something platform-specific.
 */
@Mod({{ base_classname }}.MODID)
class {{ base_classname }}Forge {
    init {
        MOD_BUS.apply {
            EventBuses.registerModEventBus({{ base_classname }}.MODID, this)
            addListener(Forge{{ base_classname }}Client::init)
            addListener(::gatherData)
        }
        {{ base_classname }}.init()
    }

    private fun gatherData(event: GatherDataEvent) {
        event.apply {
            val efh = existingFileHelper
            addProvider(includeClient()) { {{ base_classname }}Models(it, efh) }
            addProvider(includeServer()) { {{ base_classname }}Recipes(it) }
        }
    }
}

fun <T : DataProvider> GatherDataEvent.addProvider(run: Boolean, factory: (PackOutput) -> T) =
    generator.addProvider(run, Factory { factory(it) })
